SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8000/api/auth/callback
SPOTIFY_PLAYLIST_ID=7lcLakPy8pwwegFoOQ7MoG
API_KEY=dev-key-change-me
DATABASE_PATH=/data/insta2spotify.db
